<!-- List Mode -->
<div *ngIf="!cashDeskDetail && !cashDeskEdit">
  <h2>CashDesk List</h2>
  <ul class="cashdesks">
    <li *ngFor="let item of cashDeskList" (click)="viewDetail(item.id)">
      <span class="badge">{{item.name}}</span> State : {{item.currentState}}
    </li>
  </ul>
  <button class="btn btn-primary" (click)="viewNew()">New</button>
</div>

<!-- View Mode -->
<div *ngIf="cashDeskDetail">
  <h2>You submitted the following:</h2>
  <div class="row">
    Name : {{ cashDeskDetail.name }}
  </div>
  <div class="row">
    Current State : {{ cashDeskDetail.currentState }}
  </div>
  <div class="row">
    Cashier Name : {{cashDeskDetail.cashierName }}
  </div>
  <div class="row">
    Session Name : {{ cashDeskDetail.sessionName }}
  </div>
  <br>
  <button class="btn btn-default" (click)="viewList()">Return</button>
  <button class="btn btn-primary" (click)="viewEdit(cashDeskDetail.id)">Edit</button>
  <button class="btn btn-success" (click)="viewDelete(cashDeskDetail.id)">Delete</button>
</div>

<!-- Create and Edit Mode -->
<div *ngIf="cashDeskEdit">
  <h2>CashDesk Form</h2>
  <form (ngSubmit)="onSubmit()" #cashdeskForm="ngForm">
    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="cashDeskEdit.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <!-- CashierName -->
    <div class="form-group">
      <label for="cashierName">Cashier Name</label>
      <input type="text" class="form-control" id="cashierName" required [(ngModel)]="cashDeskEdit.cashierName" name="cashierName" #cashierName="ngModel">
      <div [hidden]="cashierName.valid || cashierName.pristine" class="alert alert-danger">
        CashierName is required
      </div>
    </div>
    <!-- CurrentState -->
    <div class="form-group">
      <label for="currentState">State</label>
      <select class="form-control" id="currentState"
          required
          [(ngModel)]="cashDeskEdit.currentState" name="currentState"
          #currentState="ngModel">
        <option *ngFor="let state of cashdeskStates" [value]="state">{{state}}</option>
      </select>
      <div [hidden]="currentState.valid || currentState.pristine" class="alert alert-danger">
        State is required
      </div>
    </div>
    <button type="cancel" class="btn btn-default" (click)="this.viewList();">Cancel</button>
    <button type="submit" class="btn btn-success" [disabled]="!cashdeskForm.form.valid">Submit</button>
  </form>
</div>